body,
main {
  padding: 0;
  margin: 0;
}

#main-wrapper {
  width: 75%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  margin-top: 0;
}

h1,
footer {
  background: #ccc;
}

.wrapper-photo {
  text-align: center;
}

.wrapper-photo img {
  width: 200px;
  height: auto;
}

h2 {
  font-size: 24px;
  color: #1c452c;
}

p,
li,
li > a {
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #1e5d37;
}

a:hover,
a:active {
  text-decoration: underline;
  font-weight: bold;
}

pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

footer {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a:link,
footer a:visited {
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

@media (max-width: 767px) {
  #id-wrapper {
    width: 90%;
  }

  pre {
    overflow-x: scroll;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 20px;
  }

  ul {
    padding-left: 20px;
  }

  p,
  li,
  li > a {
    font-size: 16px;
  }
}
