main {
  width: 75%;
  margin: 0 auto;
}

.wrapper-photo {
  text-align: center;
}

.wrapper-photo img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: 24px;
  color: #1c452c;
}

p,
li,
li > a {
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #1e5d37;
}

a:hover,
a:active {
  text-decoration: underline;
  font-weight: bold;
}

pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

@media (max-width: 767px) {
  main {
    width: 90%;
  }

  pre {
    overflow-x: scroll;
  }
}

@media (max-width: 500px) {
  h3 {
    font-size: 20px;
  }

  ol,
  ul {
    padding-left: 20px;
  }

  p,
  li,
  li > a {
    font-size: 16px;
  }
}
